@page "/matchedstudents"
@inherits MatchedStudentListBase
<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">
            Matched Students
        </h4>
    </div>    
</div>
<div class="row mt-4">
    <div class="col-12">


        <SfGrid ID="gridStudents" @ref="Grid" DataSource="@Students" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
            <GridEvents CommandClicked="OnCommandClicked" TValue="StudentDto"> </GridEvents>
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
            <GridPageSettings PageSize="20"></GridPageSettings>
            <GridColumns>
                <GridColumn Field=@nameof(StudentDto.StudentName) HeaderText="Name" Width="100"></GridColumn>
                <GridColumn Field=@nameof(StudentDto.StudentEmail) HeaderText="Email" Width="100"></GridColumn>
                <GridColumn Field=@nameof(StudentDto.StudentPhoneNo) HeaderText="ContactNo" Width="100"></GridColumn>
                <GridColumn Field=@nameof(StudentDto.StudentStatus) HeaderText="Status" Width="80"></GridColumn>
                <GridColumn Field=@nameof(StudentDto.MatchStatus) HeaderText="Tutor Match Status" Width="140"></GridColumn>
                <GridColumn Field=@nameof(StudentDto.CreatedDate) HeaderText="Requested On" Width="130">
                    <Template>
                        @{
                            var student = (context as StudentDto);
                            <span>@student?.CreatedDate.Value.ToString("dd-MMM-yyyy")</span>
                        }
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="View Details" TextAlign="TextAlign.Center" Width="100">
                    <GridCommandColumns>
                        <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { CssClass="e-icons e-view-details"})" Title="View"></GridCommandColumn>
                    </GridCommandColumns>
                </GridColumn>
                <GridColumn HeaderText="Subjects" TextAlign="TextAlign.Center" Width="120">
                    <Template>
                        @{
                            var s = (context as StudentDto);
                            <div>
                                <a href="/students/studentsubjects/@s.Id">Subjects</a>
                            </div>
                        }
                    </Template>
                </GridColumn>
                @* <GridColumn HeaderText="Find Tutor" TextAlign="TextAlign.Center" Width="100">
                <GridCommandColumns>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { CssClass="fa-sharp fa-solid fa-magnifying-glass"})" Title="Find Tutor">
                <template>
                <i class="fa fa-search" aria-hidden="true"></i>
                </template>
                </GridCommandColumn>
                </GridCommandColumns>
                </GridColumn> *@
            </GridColumns>
        </SfGrid>
        <SfSpinner @ref="@SpinnerObj"></SfSpinner>
    </div>
</div>
<SfDialog Width="580" @bind-Visible="@IsVisible" ShowCloseIcon="true" IsModal="false" Target="#MyGrid">
    <DialogTemplates>
        <Header>Student Information</Header>
        <Content>
            @{
                @if (RowDetails != null)
                {
                    <div style="display:inline-flex;padding-bottom:15px">

                        <div style="padding-top:20px;padding-left:30px;">
                            <div style="padding-bottom:10px;">
                                <span style="font-size:large;font-weight: bold">@RowDetails?.StudentName.ToUpper()</span>
                            </div>

                            <div style="padding-top:10px;">
                                <table class="table">
                                    <tr>
                                        <th>Institution </th>
                                        <td>&nbsp;&nbsp;@RowDetails?.CurrentInstitution</td>
                                    </tr>
                                    <tr>
                                        <th>Email </th>
                                        <td>&nbsp;&nbsp;@RowDetails?.StudentEmail</td>
                                    </tr>
                                    <tr>
                                        <th>Contact No. </th>
                                        <td>&nbsp;&nbsp;@RowDetails?.StudentPhoneNo</td>
                                    </tr>
                                    <tr>
                                        <th>Status </th>
                                        <td>&nbsp;&nbsp;@RowDetails?.StudentStatus</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                            <span class="span-style">Prefered Gender : </span><span>@RowDetails?.PreferedTutorGender; &nbsp;</span>
                            <span class="span-style">Prefered Category : </span><span>@RowDetails?.PreferedTutorCategory; &nbsp;</span>
                            <span class="span-style">Prefered Race : </span><span>@RowDetails?.PreferedTutorRace; &nbsp;</span>
                            <span class="span-style">Prefered Mode : </span><span>@RowDetails?.PreferedTutoringMode; &nbsp;</span>
                            <span class="span-style">Earliest start Date : </span><span>@RowDetails?.EarliestStartDate.Value.ToString("dd-MMMM-yyyy"); &nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                            <span class="span-style">Location : </span><span>@RowDetails?.LocationDetails; &nbsp;</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <table class="table table-sm table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th style=" font-size: 14px;color:#212529; font-family:' Helvetica Neue','Helvetica','Arial','sans-serif','-apple-system','BlinkMacSystemFont'">Subject Name</th>
                                        <th style=" font-size: 14px"> Frequency (hrs/Week)</th>
                                        <th style=" font-size: 14px"> Prefered Time Slots</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (@RowDetails.StudentSubjects.Any())
                                    {
                                        foreach (var c in @RowDetails.StudentSubjects)
                                        {
                                            <tr>
                                                <td>
                                                    @c.SubjectFullName
                                                </td>
                                                <td>
                                                    @c.DurationPerWeek
                                                </td>
                                                <td>
                                                    @c.PreferedTimeSlots
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
        </Content>
    </DialogTemplates>
    <DialogPositionData X="@Xvalue" Y="@Yvalue"></DialogPositionData>
</SfDialog>
