@page "/courses"
@inject IJSRuntime jsRuntime
@inject ICourseService courseService
@inject NavigationManager NavigationManager
@inject ICourseCategoryService courseCategoryService
<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">
            Levels
        </h4>
    </div>
    <div class="col-3 offset-1">
       @*  <NavLink href="courses/create" class="btn btn-info form-control">
            Add New
        </NavLink> *@
        <SfButton IsPrimary="true" CssClass="btn btn-sm btn-info form-control" @onclick="@Open">Add New</SfButton>
    </div>
</div>


<div class="row mt-4">
    <div class="col-12">
        <SfGrid DataSource="@Courses" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
            <GridPageSettings PageSize="20"></GridPageSettings>
            <GridColumns>
                <GridColumn Field=@nameof(CourseDto.CourseCategory.CategoryName) HeaderText="Categoy"
                            FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })">
                    <Template>
                        @{
                            var cAtegoryName = (context as CourseDto);
                            var Cname = cAtegoryName.CourseCategory.CategoryName;
                            <span>@Cname</span>
                        }
                    </Template>
                </GridColumn>

                <GridColumn Field=@nameof(CourseDto.CourseName) HeaderText="Cource Name"></GridColumn>
                <GridColumn Field=@nameof(CourseDto.IsActive) HeaderText="Status" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })">
                    <Template>
                        @{
                            var cc = (context as CourseDto);
                            if (cc.IsActive == true)
                            {
                                <div class="statustemp e-activecolor ">
                                    <span class="statustxt e-activecolor alert-success">Active</span>
                                </div>
                            }
                            else
                            {
                                <div class="statustemp e-inactivecolor ">
                                    <span class="statustxt e-inactivecolor alert-warning">InActive</span>
                                </div>
                            }
                        }
                    </Template>
                </GridColumn>                
            </GridColumns>
        </SfGrid>
        <SfSpinner @ref="@SpinnerObj"></SfSpinner>
    </div>


</div>


<div class="modal @ModalClass" tabindex="0" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*  <div class="modal-header">
            <h3 class="card-title text-info mb-3 ml-3">@Title Course Category</h3>
            <button type="button" class="btn-close" data-dismiss="modal" @onclick="() => Close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div> *@
            <div class="modal-body">
                <div class="row mt-2 mb-5">
                    <h3 class="card-title text-info mb-3 ml-3">@Title Course </h3>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group mt-2">
                                   
                                        <label for="CourseName" class="mb-2">Category</label>
                                        <select class="form-control" @bind="@CourseModel.CourseCategoryId">
                                            <option value="">-- Select Category --</option>
                                            @foreach (var ct in courseCategoryList)
                                            {
                                                <option value="@ct.Id">@ct.CategoryName</option>
                                            }
                                        </select>
                                   
                                </div>
                                <div class="form-group mt-2">

                                    <SfTextBox CssClass="e-outline" Placeholder="Course Name" FloatLabelType="@FloatLabelType.Auto"
                                    @bind-Value="@CourseModel.CourseName"></SfTextBox>
                                </div>
                                <div class="form-group mt-2">

                                    <div>
                                        <label style="padding: 10px 70px 10px 0">Active</label>
                                        <SfSwitch @bind-Checked="@CourseModel.IsActive"></SfSwitch>
                                    </div>

                                </div>
                                <div class="form-group mt-2">
                                    
                                    <SfButton IsPrimary="true" CssClass="e-outline" @onclick="@Save">Save</SfButton>
                                    <SfButton IsPrimary="false" CssClass="e-outline" @onclick="@Back">Back</SfButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    private IEnumerable<CourseDto> Courses { get; set; } = new List<CourseDto>();
    SfSpinner SpinnerObj;
    protected override async Task OnInitializedAsync()
    {
        // await Task.Delay(5000);
        await LoadCourses();
        await SpinnerObj.HideAsync();
        /*
        List<CourseDto> lstCourse = new List<CourseDto>();
        lstCourse.Add(new CourseDto { Id = 1, CourseCategory = "Primary", CourseName = "Pre School", IsActive = true });
        lstCourse.Add(new CourseDto { Id = 1, CourseCategory = "Secondary", CourseName = "Secondary 1", IsActive = true });
        lstCourse.Add(new CourseDto { Id = 1, CourseCategory = "Junior College", CourseName = "JC1", IsActive = true });
        Courses = lstCourse;
    */

        //await Task.Delay(2000);
        IEnumerable<CourseCategoryDto> courseCategories = await courseCategoryService.GetCourseCategories();
        courseCategoryList = courseCategories.ToList();
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SpinnerObj.ShowAsync();
        }
    }
    private async Task LoadCourses()
    {
        Courses = await courseService.GetCourses();
    }

    private CourseCategoryDto CourseCategoryModel { get; set; } = new CourseCategoryDto();
    List<CourseCategoryDto> courseCategoryList = new List<CourseCategoryDto>();
    private CourseDto CourseModel { get; set; } = new CourseDto();

    private string Title { get; set; } = "Create";
   
    protected async Task Save()
    {
        var response = await courseService.CreateCourse(CourseModel);
        if (response)
        {
            // NavigationManager.NavigateTo("courses");
            await LoadCourses();
            Close();
        }
    }
    void Back()
    {
        // NavigationManager.NavigateTo("courses");
        Close();
    }
}
