@inherits TutorDetailsBase

<div style="display:inline-flex;padding-bottom:15px">
    @if (TutorObject != null)
    {
        <div style="float:left;padding: 45px;"><img class="photo" src="@UriHelper.ToAbsoluteUri($"{@Configuration["BaseAPIUrl"]}/api/imagedata/{TutorObject.TutorImage}")" alt="@TutorObject?.Id" /></div>
    }
    <div style="padding-top:20px;padding-left:30px;">
        <div style="padding-bottom:10px;padding-left:10px;">
            <span style="font-size:large;font-weight: bold">@TutorObject?.TutorName.ToUpper()</span>
        </div>
        <div>
            <span class="position"><SfRating ReadOnly=true Value=3></SfRating></span>

        </div>
        <div style="padding-top:10px;">
            <table class="table">
                <tr>
                    <th>Birth Date </th>
                    <td>&nbsp;&nbsp;@TutorObject?.TutorDOB?.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <th>Email </th>
                    <td>&nbsp;&nbsp;@TutorObject?.TutorEmail</td>
                </tr>
                <tr>
                    <th>Contact No. </th>
                    <td>&nbsp;&nbsp;@TutorObject?.TutorPhoneNo</td>
                </tr>
                <tr>
                    <th>Status </th>
                    <td>&nbsp;&nbsp;@TutorObject?.TutorStatus</td>
                </tr>
            </table>
        </div>

    </div>
</div>
<hr>
<div class="row">
    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <span class="span-style">Gender : </span><span>@TutorObject?.TutorGender; &nbsp;</span>
        <span class="span-style">Category : </span><span>@TutorObject?.TutorCategory; &nbsp;</span>
        <span class="span-style">Race : </span><span>@TutorObject?.TutorRace; &nbsp;</span>
        <span class="span-style">Mode : </span><span>@TutorObject?.TutorMode; &nbsp;</span>
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <span class="span-style">Qualification : </span><span>@TutorObject?.QualificationDetails; &nbsp;</span>
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <span class="span-style">Location : </span><span>@TutorObject?.LocationDetails; &nbsp;</span>
    </div>
</div>

<hr />
<div class="row">
    <div class="col">
        <table class="table table-sm table-hover">
            <thead class="thead-light">
                <tr>
                    <th style="width: 10%; font-size: 14px;color:#212529; font-family:' Helvetica Neue','Helvetica','Arial','sans-serif','-apple-system','BlinkMacSystemFont'">Subject Name</th>
                    <th style="width: 10%; font-size: 14px"> Rate ($)</th>
                </tr>
            </thead>
            <tbody>
                @if (@TutorObject.TutorSubjects.Any())
                {
                    foreach (var c in @TutorObject.TutorSubjects)
                    {
                        <tr>
                            <td>
                                @c.SubjectFullName
                            </td>
                            <td>
                                @c.TutorRateValue
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>